body{
	font-family: 'Noto Sans TC' , sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
}

.subheading{
	font-family: 'Noto Sans TC', sans-serif;
    font-size:1.3rem;
    text-transform:none;
    letter-spacing:-0.05rem;
}

a {
    color: #be6be1;
}

body{
    text-transform:none;
}

button,select {
    text-transform: none;
}

.bg-primary{
    background-color:#1ca6c1!important;
}

.text-primary {
    color: #1ca6c1!important;
}
    
h1 {
    font-size: 5rem;
    line-height: 5.5rem;
}

